.fb-page .fb_iframe_widget
{
background-color: red;
}

 _5pbw, ._5pbx {

  background-color: red !important;
}
.fb-feed {
    background-color:rgb(50,50,50);
    padding:24px;
}
._h7l {
  background: #f6f7f8;
  border: 1px solid #e9eaed;
  border-top: 0;
  overflow-y: auto;
  background-color: green !important;
}