<?xml version="1.0" encoding="utf-8" ?>
<featureDefinitions>
<featureDefinition
featureGuid="dc873d76-5bf2-4ac5-bff7-434a86a3fc9e"
supportedDatabases="MSSQL,MySQL,pgsql,SQLite,FirebirdSql,SqlAzure,SqlCe"
resourceFile="Resource"
featureNameReasourceKey="Course List"
controlSource="Controls/FeatureCourseList.ascx"
sortOrder="1000"
isCacheable="false"
defaultCacheTime="0"
excludeFromFeatureList="false"
icon="blank.gif"
isSearchable="true"
searchListNameResourceKey=""
deleteProvider=""
supportsPageReuse="true"
>
</featureDefinition>
</featureDefinitions>